.thirdStepContainer {
    height: 478px;
    width: 1279px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;
    margin-top: 20px;
}

.resources {
    height: 192px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-left: 120px;
    margin-right: 87px;
    margin-top: 32px;
    margin-bottom: 44px;
    align-content: space-between;
}

.objSquareDescr {
    font-weight: 400;
    width: 237px;
    height: 81px;
    margin-right: 160px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.staffDescr {
    font-weight: 400;
    width: 237px;
    height: 54px;
    margin-left: 94px;
    margin-top: 13px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.landSquareDescr {
    font-weight: 400;
    width: 380px;
    height: 81px;
    margin-right: 16px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.inputM {
    display: flex;
    align-items:center;
    height: 60px;
    margin-top: 13px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    letter-spacing: 0.06em;
    color: rgba(17, 17, 17, 0.85);
}

.inputResource {
    width: 147px;
    height: 60px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;
    font-size: 18px;
    text-align: center;
    margin-top: 13px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    letter-spacing: 0.06em;
    color: rgba(17, 17, 17, 0.85);
}

.unit {
    margin-left: 5px;
    width: 30px;
    height: 41px;
    font-size: 24px;
    font-weight: 400;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}