.mainPage {
    margin: 0;
    width: 1920px;
    height: 100vh;
    background-image: url("../../img/main_background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainPageHead {
    width: 829px;
    margin-left: 14vh;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 42px;
    line-height: 170%;
    
}

.mainPageDevider {
    margin-left: 14vh;
    margin-top: 68px;

    width: 734px;
    height: 0px;

    border: 2px solid #FFFFFF;

}

.mainPageText {
    margin-left: 14vh;
    margin-top: 23px;

    width: 698px;
    height: 113px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 170.02%;
    color: #FFFFFF;
}

.mainPageButton {
    margin-left: 14vh;
    margin-top: 100px;
    
    width: 407.5px;
    height: 34px;
    
    display: flex;
    gap: 43px;
    align-items: center;
}

.mainPageButton:hover {
    cursor: pointer;
}

.buttonDescr {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 170.02%;
    color: #FFFFFF;
}

.buttonArrow {
    width: 82.5px;
    height: 11.5px;
    padding-top: 10px;
}