.firstStepContainer {
    width: 1279px;
    height: 618px; 
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;
    margin-top: 20px;
}

/* ................................................ */

.stepHead {
    height: 100px;
    display: flex;
    border-bottom: 1px solid #D9D9D9;
}

.stepDescription {
    width: 767px;
    margin-left: 29px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.boldText {
    height: 34px;
    margin-top: 22px;
    margin-bottom: 2px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

/* ................................................ */

.opf {
    width: 511px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 1px solid #D9D9D9;
    
}

.opfChecker {
    height: 44px;
    width: 414px;
    font-weight: 400;
    font-size: 16px;
    color: rgba(17, 17, 17, 0.85);
    display: flex;
    margin-top: 22px;
}

.opfChecker:hover {
    cursor: pointer;
}


#iBusiness {
    width: 46px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-right: none;
    border-radius: 13px 0px 0px 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

#juridical {
    width: 204px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

#nothing {
    width: 164px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-left: none;
    border-radius: 0px 13px 13px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.opfActive {
    background: rgba(17, 17, 17, 0.6);
    color: white;
}

.opfSubtitile {
    height: 24px;
    margin-right: 30px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.1em;
    color: rgba(17, 17, 17, 0.85);
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 170.02%;
    letter-spacing: 0.1em;
    color: rgba(17, 17, 17, 0.85);
}

/* ................................................ */

.mainIndustry {
    height: 156px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.selectIndustry {
    margin-top: 43px;
    margin-left: 436px;
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 3;
}

/* ................................................ */

.opfRegistration {
    height: 100%;
    position: absolute;
    left: 694px;
    display: flex;
    transition: transform 2s ease-in-out 5s;
}

.opfRegistrationText {
    height: 34px;
    margin-right: 22px;
    margin-top: 70px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.opfCheckerRegister {
    width: 280px;
    height: 44px;
    color: rgba(17, 17, 17, 0.85);
    display: flex;
    margin-top: 63px;
}

.opfCheckerRegister:hover {
    cursor: pointer;
}

#iBusinessRegister {
    width: 53px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px 0px 0px 13px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

#juridicalRegister {
    width: 227px;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-left: none;
    border-radius: 0px 13px 13px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}


/* ................................................ */

.forIBusiness{
    height: 260px;
    background: rgba(217, 217, 217, 0.25);
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #D9D9D9;
    display: flex;
    justify-content: space-between;

}

.sectionLegend {
    margin-left: 40px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);


}

.patent {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.selectHeading {
    margin-left: 104px;
    height: 31px;
    margin-top: 38.4px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.selectBusiness {
    position: absolute;
    top: 72px;
    margin-left: 146px;
}

.alreadyHave {
    position: absolute;
    top: 160px;
    height: 27px;
    margin-left: 243px;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    letter-spacing: 0.04em;
    font-weight: 400;
    color: rgba(17, 17, 17, 0.85);
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;

}

.alreadyHave:hover {
    cursor: pointer;
}

.price {
    margin-right: 196px;
    display: flex;
    flex-direction: column;
}

.priceDescription {
    margin-top: 40px;
    height: 31px;
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.calculatedPrice {
    height: 31px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    color: rgba(17, 17, 17, 0.85);
    text-align: center;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.arrowWrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-top: 1px solid #D9D9D9;
    
}