.selectorWrapper {
    font-size: 20px;
}

.selectFieldset {
    padding: 0;
    margin: 0;
    
    width: 374px;
    height: 60px;

    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;

    display: block;
    position: relative;

    padding-bottom: 10px;
    padding-left: 33px;

    background-image: url('../../img/selectorArrow.png');
    background-repeat: no-repeat;
    
    background-position-x: 364px;
    background-position-y: 28px;
}

.selectFieldset:hover {
    cursor: pointer;
    background: #F5F5F5;
}

.selectLegend {
    margin-left: 30px;
    padding: 0;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170.02%;
    color: #6B6767;
}

.offLegend {
    margin-top: 9.6px;
    height: 57px;
    padding-bottom: 3px; 
}

.hidden {
    opacity: 0;
}

.default {
    margin-top: 12px;
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 170.02%;
    color: #6B6767;
}

.chosen {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}


.searchOption {
    position: absolute;
    top: 5px;
    outline: none;
    border: none;
    width: 374px;
    height: 20px;
    padding: 0;
    padding-top: 2px;
    background: transparent;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.optionsWrapper {
    width: 436px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 168px;
    overflow-y: scroll;
}

.option {
    width: 380px;
    height: 42px;
    padding: 10px 28px;
    padding-right: 0px;
    background: white;
    display: flex;
    align-items:center;
    position: relative;
    z-index: 1;

    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.03em;
    color: rgba(17, 17, 17, 0.85);
}

.option:hover {
    background: #F5F5F5;
    cursor: pointer;
}