.selectorWrapper {
    font-size: 20px;
}

.selectFieldset {
    padding: 0;
    margin: 0;
    
    width: 506px;
    height: 60px;

    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;

    display: block;
    position: relative;

    padding-bottom: 10px;
    padding-left: 16px;

    background-image: url('../../img/selectorArrow.png');
    background-repeat: no-repeat;
    background-position-x: 480px;
    background-position-y: 28px;
}

.selectFieldset:hover {
    cursor: pointer;
    background: #F5F5F5;
}

.selectLegend {
    margin-left: 30px;
    padding: 0;
    color: rgba(17, 17, 17, 0.85);
    color: #6B6767;
}

.offLegend {
    margin-top: 9.6px;
    height: 57px;
    padding-bottom: 4px;
}

.hidden {
    opacity: 0;
}

.default {
    margin-top: 18px;
    color: #6B6767;
}

.chosen {
    margin-top: 6px;
    color: rgba(17, 17, 17, 0.85);
}


.searchOption {
    position: absolute;
    top: 6px;
    outline: none;
    border: none;
    font-size: 20px;
    width: 506px;
    height: 20px;
    padding-bottom: 60px;
    background: transparent;
}

.optionsWrapper {
    width: 480px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 168px;
    overflow-y: scroll;
}

.option {
    width: 424px;
    height: 42px;
    padding: 10px 28px;
    padding-right: 0px;
    background: white;
    color: rgba(17, 17, 17, 0.85);
    display: flex;
    align-items:center;
    position: relative;
    z-index: 1;
}

.option:hover {
    background: #F5F5F5;
    cursor: pointer;
}