.wrapper {
    height: 90px;
    width: 100vw;
    margin-top: 84px;
    background: linear-gradient(90deg, #C4C4C4 0%, #D9D9D9 0.01%, rgba(196, 196, 196, 0) 100%);
    padding-top: 26px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.headingText {
    font-weight: 700;
    font-size: 40px;
    color: rgba(17, 17, 17, 0.85);
    height: 68px;
}