.navigationButton {
    display: flex;
    flex-direction: column;
    width: 112px;
    height: 60px;
    margin-top: 28px;
    margin-right: 46px;
    margin-left: 46px;
}

.text {
    text-align: center;
    
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 170.02%;
    letter-spacing: 0.05em;
}

.navigationButton:hover {
    cursor: pointer;
}

.rotation {
    transform: scale(-1, 1)
}

.unavailable{
    color: #D9D9D9;
}

.availabe {
    color: black;
}