.withoutLegend {
    margin-top: 12px;
    color: rgba(17, 17, 17, 0.85);
}

.chosenWithoutLegend {
    margin-top: 12px;
    color: rgba(17, 17, 17, 0.85);
}

.devided {
    border-bottom: 1px solid #D9D9D9;
}