.modalFade {
    background: #000;
	position: absolute;
    top: 0;
	width: 1920px; 
	height: 3768px;
	background:rgba(0,0,0,.7);
    z-index: 4;
}

.authorizationWrapper {
    margin: 0;
    width: 627px;
    
    position: fixed;
    top: 0;
    right: 0;
    /* transform: translate(-50%, -50%); */
    background: white;
    z-index: 5;
    max-width: 100%;
    max-height: 100%;
}

.authHeading {
    margin-left: 40px;
    margin-top: 20px;
    height: 54px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}
.personalData{
    margin-left: 40px;
    margin-right: 40px;
    height: 515px;
}

.dataField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

span {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
    width: 237px;
}

.dataInput {
    width: 300px;
    height: 27px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(17, 17, 17, 0.85);
    padding-bottom: 5px;
    text-align: center;
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.agreement {
    width: 550px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;

}

.agreementCheck {
    height: 20px;
    width: 20px;
    margin-left: 103px;
}

.agreementText {
    font-size: 18px;
    margin-right: 103px;
    width: 293px;
}

.finalStage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.Authorize {
    width: 260px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;
    
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 170.02%;
    text-transform: uppercase;
    color: rgba(17, 17, 17, 0.85);
}

.Authorize:hover,
.alreadyAuthorized:hover {
    cursor: pointer;
}

.alreadyAuthorized::before {
    padding: 1px;
    position: absolute;

    margin-left: -50px;
    margin-top: -28px;
    width: 300px;
    color: white;
    font-size: 12px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.85);
    border-radius: 5px;
    content: "Будет доступно в следующем обновлении";
    opacity: 0;
    visibility: hidden;
}

.alreadyAuthorized:hover:before {
    opacity: 1;
    visibility: visible;
}

.alreadyAuthorized {
    position: relative;

    text-align: center;
    
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    letter-spacing: 0.04em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.props {
    background: linear-gradient(90deg, #A4A4A4 0%, rgba(196, 196, 196, 0) 82.81%, rgba(196, 196, 196, 0) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.propsHeading {
    margin-left: 40px;

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}

.propsDescr {
    display: flex;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
}