

.modalFade {
    background: #000;
	position: absolute;
    top: 0;
	width: 100%; 
	height: 3768px;
	background:rgba(0,0,0,.7);
    z-index: 4;
}

.authorizationWrapper {
    margin: 0;
    width: 627px;
    position: absolute;
    right: 0px;
    top: calc(100vh + 52px);
    background: white;
    z-index: 5;
}

.authHeading {
    font-weight: 700;
    font-size: 32px;
    margin-left: 40px;
    margin-top: 20px;
    height: 54px;
}
.personalData{
    margin-left: 40px;
    margin-right: 40px;
    height: 497px;
}

.dataField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

span {
    font-weight: 400;
    font-size: 16px;
}

.dataInput {
    width: 300px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(17, 17, 17, 0.85);
    padding-bottom: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}

.agreement {
    width: 550px;
    height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;

}

.agreementCheck {
    height: 20px;
    width: 20px;
    margin-left: 103px;
}

.agreementText {
    font-size: 18px;
    margin-right: 103px;
}

.finalStage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
}

.Authorize {
    width: 260px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.85);
    border-radius: 13px;
    font-weight: 500;
    font-size: 20px;
}

.Authorize:hover,
.alreadyAuthorized:hover {
    cursor: pointer;
}

.alreadyAuthorized {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.props {
    background: linear-gradient(90deg, #A4A4A4 0%, rgba(196, 196, 196, 0) 82.81%, rgba(196, 196, 196, 0) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.propsHeading {
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
}

.propsDescr {
    display: flex;
}