.moscowMap {
    width: 530px;
    height: 630px;
}

.textInfo {
    width: 600px;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 110px;
}

.map p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170.02%;
    color: #000000;
}

.map h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170.02%;
    color: rgba(17, 17, 17, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: linear-gradient(90deg, #C4C4C4 0%, #D9D9D9 0.01%, rgba(196, 196, 196, 0) 100%);
}

.description {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 28px;
}